*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    display: flex;
    border-radius: 10px;
    padding: 10px;
    background-image: linear-gradient(75deg, rgb(255, 194, 128), rgb(172, 255, 199));
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    min-height: 500px;
    background-color: turquoise;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
/* .productDetails{
    width: 40%;
    height: 60%;
    background-color: azure;
    z-index: 99;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
} */